#logo{
    max-width: 500px;
    margin :20,20,20,20;
    
}

header{
    background-color:#F7D65A;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 500px;
    margin: 0,0,0,0;  
    padding: 0;
    
}

body{
    display: grid;
}